.tableCustom{
    font-size: 11px;
}

@media print {
    hr{
        display:block;
    }
    body{
        border-spacing: 0px;
    }
    .header-print{
        font-size: 7px;
        text-align: right;
    }
    .title-print{
        font-size: 10px;
        font-weight: bold;
        text-align: center;
    }
    .tableCustom{
        font-size: 7px;
        letter-spacing: 1px;
    }
    .no-print, .no-print *
    {
        display: none !important;
    }
    #section-to-print {
        /* position: absolute; */
        left: 0;
        top: 0;
        bottom: 4;
    }
}
